.images{ data: { sort_update_url: reorder_section_page_images_path(page.section, page) } }
  - for image in page.images.has_picture
    %a.image.fancybox{ data: { id: image.id }, href: image.picture.url, rel: 'group' }
      = image_tag image.picture(:thumb), title: image.title

:coffee
  $ -> dragAndDropFileUploadTo #{url_for([page.section, page, :images]).to_json}
