body
  font:
    size: 14px
    family: 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif

.body
  max-width: 1000px
  margin: 50px auto auto

a
  text-decoration: none
  color: #666
  &:hover, &[rel=nofollow]
    color: black
