%ul.sidebar
  - for section in sidebar_sections
    %li.section
      - if section.title.present?
        %span.section-title= section.title
      %ul
        - for page in section.pages
          = render 'layouts/sidebar_page',     section: section, page: page
        - if current_user
          = render 'layouts/sidebar_add_page', section: section
